<link rel="stylesheet" href="{{{assetUrl "/css/stats.css"}}}">

<h2 id="files">Top Files</h2>

<table class="stats">
    <thead>
        <tr>
            <th><abbr title="Requests">Reqs</abbr></th>
            <th><abbr title="Requests per second">Reqs/s</abbr></th>
            <th><abbr title="Kilobytes">KB</abbr></th>
            <th><abbr title="Kilobytes per second">KB/s</abbr></th>
            <th>URL</th>
        </tr>
    </thead>

    <tbody id="stats-files">
    </tbody>
</table>

<h2 id="referrers">Top Referrers</h2>

<table class="stats">
    <thead>
        <tr>
            <th><abbr title="Requests">Reqs</abbr></th>
            <th><abbr title="Requests per second">Reqs/s</abbr></th>
            <th><abbr title="Kilobytes">KB</abbr></th>
            <th><abbr title="Kilobytes per second">KB/s</abbr></th>
            <th>URL</th>
        </tr>
    </thead>

    <tbody id="stats-referrers">
    </tbody>
</table>

<script src="{{{assetUrl "/js/stats-client.js"}}}"></script>
<script src="/api/stats?count=10&amp;callback=rawgit.loadStats"></script>
